<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
</head>
<body>
    <a href="/add">Adicionar</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Age</th>
            <th></th>
        </tr>
        <% database.forEach((user) => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td>
                    <a href="/<%= user.id %>/edit">Editar</a>
                    <a href="/<%= user.id %>/delete">Deletar</a>
                </td>
            </tr>
        <% }); %> 
    </table>
</body>
</html>